@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url("assets/Montserrat.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("assets/Montserrat-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("assets/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("assets/Montserrat-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("assets/Montserrat-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("assets/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Black";
    src: url("assets/Montserrat-Black.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("assets/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

*,
html,
body,
input,
button,
textarea,
select {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

@layer utilities {
  .scale-102 {
    transform: scale(1.02);
  }

  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-bounce-in {
    animation: bounce-in 0.5s ease-out;
  }
}